body{
    background-color: rgb(238, 168, 121);
    margin: auto;
    width: 600px;
    height: 1000px;
}
header{
    padding: 30px;
}
.bus{
    padding: 15px;
    color: rgb(70, 114, 116);
    background-color: rgb(176, 219, 159);
   font-family: 'Oi', cursive;  
   font-size: 28px;  
   border-radius: 25px;
}
nav ul li{
    
    float: right;
    padding: 15px;
    position: relative;
   bottom: 55px;
   font-family: 'Akaya Kanadaka', cursive;
   font-size:20px ;
   border-radius: 25px;
   background-color: rgb(186, 164, 207);
}
.shop{
    font-family: 'Lobster', cursive;
    font-size:25px;
    color: rgb(40, 40, 119);
   
}
.para{
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px ;
    background-color: cornsilk;
    border-radius: 5px;
}
#we{
    padding: 10px;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 18px;
    color: rgb(119, 0, 0);
}

.me{
    font-family: 'Akaya Telivigala', cursive;
    font-size:18px ;
}
footer{
    padding: px;
    position: relative;
    top:300px;
}
#btn{
    border-radius: 5px;
    font-family: 'Changa', sans-serif;
    background-color: rgb(248, 149, 202);

}
.hi{
    font-family: 'Bebas Neue', cursive;
    padding: 30px;

}

